{% set value = datagrid_accessor(item, propertyName) %}
{% spaceless %}
    {% if value is same as(true) or value is same as(false) %}
        {% if export %}
            {% if value %}{{ 'column.text.bool.yes'|trans([], 'datagrid') }}{% else %}{{ 'column.text.bool.no'|trans([], 'datagrid') }}{% endif %}
        {% else %}
            {% if value %}<span class="badge badge-success">{{ 'column.text.bool.yes'|trans([], 'datagrid') }}</span>{% else %}<span class="badge badge-danger">{{ 'column.text.bool.no'|trans([], 'datagrid') }}</span>{% endif %}
        {% endif %}
    {% else %}
        {{ value }}
    {% endif %}
{% endspaceless %}
