<select class="custom-select form-control" name="{{ name }}" data-index="{{ index }}">
    <option value="">{% if placeholder is null %}{{ name }}{% else %}{{ placeholder }}{% endif %}</option>
    {% for label,value in options %}
        <option value="{{ value }}">{{ label|trans }}</option>
    {% endfor %}
</select>
